flows.json
[{"id":"c9e20209.8f7ad","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"bdee1eae.e0801","type":"function","z":"c9e20209.8f7ad","name":"PreToken","func":"global.set(\"mr\",msg.payload.mr)\nglobal.set(\"mt\",msg.payload.mt)\nglobal.set(\"mp\",msg.payload.mp)\nglobal.set(\"ma\",msg.payload.ma)\nglobal.set(\"ms\",msg.payload.ms)\nvar apikey=\"9c9jUDARZ6li9JM2GQksWEXhfVuHdWuf2UUo9Gd6G6wD\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":860,"wires":[["6d4f58f.73336a8"]]},{"id":"6d4f58f.73336a8","type":"http request","z":"c9e20209.8f7ad","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":819,"y":848.9999952316284,"wires":[["eaa2348f.80a4c8"]]},{"id":"abc33422.4741f8","type":"debug","z":"c9e20209.8f7ad","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1258.0000114440918,"y":590.999997138977,"wires":[]},{"id":"eaa2348f.80a4c8","type":"function","z":"c9e20209.8f7ad","name":"Pre Prediction","func":"var mr = global.get('mr')\nvar mt = global.get('mt')\nvar mp = global.get('mp')\nvar ma = global.get('ma')\nvar ms = global.get('ms')\nvar token=msg.payload.access_token\nvar instance_id=\"90d4a865-f5f2-4067-bb99-9e47e0f1f0e5\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"fields\": [\"Mean Radius\", \"Mean Texture\",\"Mean Perimeter\",\"Mean Area\",\"Mean\"], \"values\": [[mr,mt,mp,ma,ms]]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1015.0000076293945,"y":811.9999990463257,"wires":[["1cc4e82.5910f18"]]},{"id":"1cc4e82.5910f18","type":"http request","z":"c9e20209.8f7ad","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/v3/wml_instances/90d4a865-f5f2-4067-bb99-9e47e0f1f0e5/deployments/c84ac670-1006-40a4-b494-61d6f3de6f75/online","tls":"","persist":false,"proxy":"","authType":"","x":1109.5000076293945,"y":755.9999990463257,"wires":[["831b7cb8.831bf","6b1de8a5.8e2c78"]]},{"id":"6562251c.b2f31c","type":"ui_form","z":"c9e20209.8f7ad","name":"","label":"","group":"a9006689.8974a8","order":1,"width":0,"height":0,"options":[{"label":"Mean Radius","value":"mr","type":"number","required":true,"rows":null},{"label":"Mean Texture","value":"mt","type":"number","required":true,"rows":null},{"label":"Mean Perimeter","value":"mp","type":"number","required":true,"rows":null},{"label":"Mean Area","value":"ma","type":"number","required":true,"rows":null},{"label":"Mean Smoothness","value":"ms","type":"number","required":true,"rows":null}],"formValue":{"mr":"","mt":"","mp":"","ma":"","ms":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":412,"y":902.9999952316284,"wires":[["bdee1eae.e0801"]]},{"id":"ba7a2dbd.ee6ea","type":"ui_text","z":"c9e20209.8f7ad","group":"a9006689.8974a8","order":2,"width":0,"height":0,"name":"","label":"Prediction Percentage [Malignant, Benign]:","format":"{{msg.payload}}","layout":"col-center","x":1230,"y":960,"wires":[]},{"id":"831b7cb8.831bf","type":"function","z":"c9e20209.8f7ad","name":"","func":"msg.payload=msg.payload.values[0][1]\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":969.6000366210938,"y":651.600001335144,"wires":[["ba7a2dbd.ee6ea","abc33422.4741f8"]]},{"id":"6b1de8a5.8e2c78","type":"debug","z":"c9e20209.8f7ad","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1310,"y":860,"wires":[]},{"id":"a9006689.8974a8","type":"ui_group","z":"","name":"Default","tab":"8712f13d.70bf7","order":1,"disp":true,"width":"6","collapse":false},{"id":"8712f13d.70bf7","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]